<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">RBAC App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="onAssumeRoleToggle()">Assume Role</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/protected-route1">Protected Route 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/protected-route2">Protected Route 2</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
