<app-navbar></app-navbar>
<div class="container">
  <!-- New User Button (only visible if user can create users) -->
  <button *ngIf="canCreateUser" class="btn btn-primary btn-create-user" (click)="showUserForm = true; selectedUser = null">New User</button>

  <!-- User Form Modal -->
  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showUserForm}" *ngIf="showUserForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ selectedUser ? 'Edit User' : 'Create New User' }}</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-user-form [user]="selectedUser" (addUser)="onAddUser($event); closeModal()" (cancel)="closeModal()"></app-user-form>
        </div>
      </div>
    </div>
  </div>

  <!-- User Table -->
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Phone</th>
        <th>Street</th>
        <th>Suite</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Website</th>
        <th>Company Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address.street }}</td>
        <td>{{ user.address.suite }}</td>
        <td>{{ user.address.city }}</td>
        <td>{{ user.address.zipcode }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name }}</td>
        <td class="actions-column">
          <!-- Edit Button (only visible if user can edit users) -->
          <button *ngIf="canUpdateUser || canCreateUser" class="btn btn-sm btn-warning" (click)="editUser(user)">Edit</button>
          
          <!-- Delete Button (only visible if user can delete users) -->
          <button *ngIf="canDeleteUser || canCreateUser" class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
      <!-- Display message when no users are available -->
      <tr *ngIf="(users$ | async)?.length === 0">
        <td colspan="12" class="text-center">No users found.</td>
      </tr>
    </tbody>
  </table>
</div>
